body
    font-family: 'Mulish', sans-serif
    background: #E5E5E5

header
    margin-top: 2em

    .element
        position: absolute
        top: 10%

    nav ul li
        list-style: none
        padding: 0 15px 0 15px

        a
            color: #1F1534
            opacity: 0.5
            font-weight: normal
            &:hover 
                opacity: 1
                color: #1F1534
                font-weight: bold
                text-decoration: none

    .header-text 
        h1
            font-weight: bold
        p
            color: #7D7987
            margin: 2em 0 2em 0

        button
            background: #458FF6
            color: #fff
            border-radius: 55px
            outline: none
            border: 0
            padding: 10px 30px 10px 30px

.services
    margin-top: 10rem

    h1
        font-weight: bold
        
    hr
        width: 5%
        border: 1px solid #000

    p
        color: #7D7987
        

    .card
        background: #fff
        padding: 2em
        border-radius: 20px
        border-radius: 20px

        h3
            margin: 1em 0 1em 0
